<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

    <div class="">
        <div class="box">
      
          <div class="title">LOGIN</div>
      
          <div class="username-field">
            <label for="name">Username</label>
            <input type="text" name="name" id="name">
            <span class="spin"></span>
          </div>
      
          <div class="password-field">
            <label for="pass">Password</label>
            <input type="password" name="pass" id="pass">
            <span class="spin"></span>
          </div>
      
          <div class="button login">
            <button><span>GO</span> <i class="fa fa-check"></i></button>
          </div>
      
          <a href="" class="pass-forgot">Forgot your password?</a>
      
        </div>
      
        <div class="box">
      
          <div class="title">REGISTER</div>
      
          <div class="username-field">
            <label for="regname">Username</label>
            <input type="text" name="regname" id="regname">
          </div>
      
          <div class="password-field">
            <label for="regpass">Password</label>
            <input type="password" name="regpass" id="regpass">
          </div>
      
          <div class="password-field">
            <label for="reregpass">Repeat Password</label>
            <input type="password" name="reregpass" id="reregpass">
            <span class="spin"></span>
          </div>
      
          <div class="button">
            <button><span>NEXT</span></button>
          </div>
      
        </div>
      
      </div>

</body>
</html>